---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.postContent{
  text-align: center;

}
.post-title{
  font-family: "PT Sans";
font-weight: 900;
font-size: 70px;
text-align: center;
}

.post-content{
  font-family: "Source Sans Pro";
font-weight: 300;
font-size: 20px;
}
.post-meta{
  font-family: "Futura Std Medium";
text-transform: uppercase;
text-align: center;
letter-spacing: 2px;
text-indent: 2px;
}
.post-author{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
text-align: center;
}
.postCont{

}
.postLink{
  text-transform: uppercase;
text-align: center;
color: #ff3d00;
font-family: "Futura Std Medium";
letter-spacing: 0.3em;
text-indent: 0.3em;


}
.postTitle{
  padding: 0.5em;
}
.postExt{
  font-family: "Source Sans Pro";
font-size: 16px;
letter-spacing: 0.05em;
text-indent: 0.05em;
padding-bottom: 1em;
text-align: center;
font-weight: 300;
}

.dateAndStuff{
  text-align: center;
font-family: "Futura Std Medium";
padding-bottom: 2em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 0.2em;
text-indent: 0.2em;
}

.stories-title{
  padding:7em;
}
.stTitle{
 font-family: "Futura Std Medium";
 font-size: 60px;
letter-spacing: 0.5em;
text-indent: 0.5em;

}
.excerpt{
 font-family:"Linux Libertine";
 font-size: 15px ;
 letter-spacing: 0.05em;
 text-indent: 0.05em;
 padding-bottom: 1em;
 text-align: center;
}
.stories-caption{
 font-family: 'Cardo';
 font-size: 18px;
 letter-spacing: 0.2em;
 text-indent: 0.2em;
}

.categories-on{
  color:#4a148c;
}

.posted-on{
  color:#880e4f
}
a{
  text-decoration: none !important;
}

a:hover, a:focus{
  border-bottom: 1px dotted;
text-decoration: none !important;
}
@font-face {
font-family: "Futura Std Medium";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.ttf") format("ttf");
}

@font-face {
font-family: "Futura Std Book";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.ttf") format("ttf");
}

@font-face {
font-family: "Futura Std Bold";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.ttf") format("ttf");
}
@font-face {
  font-family: "Farray";
  src: url(../FARRAY.otf);
}
  .name {
    font-family: "Farray";
    font-size: 70px;
    padding-bottom: 0.2em;
    letter-spacing: 2px;
    text-indent: 2px;
    font-weight: 900;
  }

  #menu {
    padding-top: 4em;
  }

  .menu {
    font-family: "Futura Std Medium";
    font-size: 16px;
    letter-spacing: 2px;
  }

  .intro {
    padding-top: 10em;
  }

  .fa-facebook {
    color: white;
  }

  .fa-heart {
    color: red;
    font-size: 10px;
  }

  .icons {
    font-size: 14px;
    color: white;
  }
  .fa-circle{
    color: black;
  }

  .pic {
    border-radius: 90%
  }

  .welcome {
    font-family: "Futura Std Medium";
    font-size: 16px;
    letter-spacing: 2px;
    text-indent: 2px;
  }


  .welcome {
    padding-top: 3em;
  }

  .foot-text {
    font-family: "Futura Std Medium";
    font-size: 14px;
    letter-spacing: 0.7px;
    text-indent: 0.7px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }

  a{
    color:black;

  }
  .active{
    color:crimson;
  }
  .exmarks{
    color: black !important;
  }
  .wel{
    font-size: 16px !important;
  }

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
