---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
.title-education{
  font-size: 14px;
text-align: left;
font-family: "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
letter-spacing: .3em;
text-transform: uppercase;
font-weight: bold;
color: #666;
}
.tagline{
  font-family: "PT Sans";

font-size: 12px;
text-align: center;
letter-spacing: 2px;
text-indent: -2px;
text-transform: uppercase;
}
#story-title{

}
.education-year{
  display: block;
margin-top: 10px;
color: #666;
font: normal normal 14px "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
line-height: 1em;
letter-spacing: .4em;
text-transform: uppercase;
text-align: left;

}
.education{
  display: block;
margin-top: 10px;
color: black;
font: normal normal 14px "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
line-height: 1em;
letter-spacing: .4em;
text-transform: uppercase;
text-align: left;
padding-bottom: 1em;
}
.resume-matter{
  padding-top: 2em;
  padding-bottom: 2em;

}
.place-education{
  font-size: 14px;
text-align: left;
font-family: "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
letter-spacing: .3em;
text-transform: uppercase;
}
.postContent{
  text-align: center;

}
.postcontentmain{

}
.quote-content{
  font-size: 14px;
padding: 1em;
border-bottom: 2px solid crimson;
font-family: "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
letter-spacing: .3em;
text-transform: uppercase;
}
.social{
  padding:1em;
}
.designation{
  display: block;
margin-top: 10px;
color: #666;
font: normal normal 14px "Puritan","Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
line-height: 1em;
letter-spacing: .4em;
text-transform: uppercase;
text-align: center;
padding-bottom: 1em;
}
.name-resume{
  display: block;
margin: 0;
padding: 0;
color: #000;
font: normal normal 24px "Futura Std Medium" ,"Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
line-height: 1em;
letter-spacing: 8px;
text-transform: uppercase;
text-align: center;
padding-top: 3em;
}
.quote-resume{
  display: inline-block;
padding: 0 10px;
margin: 30px 0;
color: #000;
font: normal normal 14px "Trebuchet MS",Arial,Tahoma,Verdana,sans-serif;
line-height: 1em;
letter-spacing: .5em;
text-transform: uppercase;
background: #fff;
}
.links{
  font-family: "Futura Std Medium";
  letter-spacing: 2px;
  border-top: 1px solid black;
  border-bottom: 2px solid orange;

  padding: 1em;
}
.resumecont{
    width: 800px !important;
}
.firstletter{
  font-size: 40px;
  padding: 2px;
  font-weight: 800;
}
.post-title{
  font-family: "Futura Std Medium";
font-size: 70px;
text-align: center;
letter-spacing: 5px;
text-indent: 10px;
line-height: 1.3em;
}
.quote-content-title{


}
.post-content{
  font-family: "Gilda Display";
font-size: 24px;
text-align: justify;
}
.post-meta{
  font-family: "Futura Std Medium";
text-transform: uppercase;
text-align: center;
letter-spacing: 2px;
text-indent: 2px;
}

.post-author{
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
text-align: center;
letter-spacing: 2px;
text-indent: -2px;
text-transform: uppercase;
}
.home-page, .projects-page, .stories-page, .about-page{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
p {
    margin: 0 0 2em !important;
}
.postLink{

text-align: center;
color: black;
font-family: "Futura Std Medium";
letter-spacing: 0.1em;
font-size: 24px;
padding-bottom: 0.2em;

}
.postTitle{
  padding: 0.5em;
}
.postExt{
  font-family: "Gilda Display";
font-size: 16px;
letter-spacing: 0.05em;
text-indent: 0.05em;
padding-bottom: 1em;
text-align: center;
font-weight: 300;
}

.dateAndStuff{
  text-align: center;
font-family: "Futura Std Medium";
padding-bottom: 2em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 0.2em;
text-indent: 0.2em;
}

.stories-title{
  padding:7em;
}
.stTitle{
 font-family: "Futura Std Medium";
 font-size: 60px;
letter-spacing: 0.5em;
margin-left: 0.3em;
  color: black !important;
  border: none !important;
}
.excerpt{
 font-family:"Linux Libertine";
 font-size: 15px ;
 letter-spacing: 0.05em;
 text-indent: 0.05em;
 padding-bottom: 1em;
 text-align: center;
}
.stories-caption{
  font-family: 'Gilda Display';
 font-size: 18px;
 letter-spacing: 0.2em;
 text-indent: 0.4em;
}

.categories-on{
  color:#4a148c;
}

.posted-on{
  color:#880e4f
}
a{
  text-decoration: none !important;
}

a:hover, a:focus{
  border-bottom: 1px dotted;
text-decoration: none !important;
}
@font-face {
font-family: "Futura Std Medium";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.ttf") format("ttf");
}

@font-face {
font-family: "Futura Std Book";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Medium.ttf") format("ttf");
}

@font-face {
font-family: "Futura Std Bold";
src: url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.woff") format("woff"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.otf") format("otf"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.eot") format("eot"), url("//d2xzbo2ehns0vv.cloudfront.net/media/wysiwyg/futura-fonts/FuturaStd-Heavy.ttf") format("ttf");
}
@font-face {
  font-family: "Farray";
  src: url(../FARRAY.otf);
}
  .name {
    font-family: "Farray";
    font-size: 70px;
    padding-bottom: 0.2em;
    letter-spacing: 2px;
    text-indent: 2px;
    font-weight: 900;
  }

  #menu {
    padding-top: 4em;
  }

  .menu {
    font-family: "Futura Std Medium";
    font-size: 16px;
    letter-spacing: 2px;
  }

  .intro {
    padding-top: 10em;
  }

  .fa-facebook {
    color: white;
  }

  .fa-heart {
    color: red;
    font-size: 10px;
  }

  .icons {
    font-size: 14px;
    color: white;
  }
  .fa-circle{
    color: black;
  }

  .pic {
    border-radius: 90%
  }

  .welcome {
    font-family: "Futura Std Medium";
    font-size: 16px;
    letter-spacing: 2px;
    text-indent: 2px;
  }


  .welcome {
    padding-top: 3em;
  }

  .foot-text {
    font-family: "Futura Std Medium";
    font-size: 14px;
    letter-spacing: 0.7px;
    text-indent: 0.7px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }

  a{
    color:black;

  }
  .active{
    color:crimson;
  }
  .exmarks{
    color: black !important;
    padding: 2em;
  }
  .wel{
    font-size: 16px !important;
  }

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
