<section id="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row menu">
          <center>
            <a href="/index.html"><div class="col-md-3 home-page">
              HOME &nbsp;&nbsp;&nbsp;<span class="exmarks">/</span>
            </div></a>
            <a href="/stories"><div class="col-md-3 stories-page">
              STORIES &nbsp;&nbsp;&nbsp;<span class="exmarks">/</span>
            </div></a>
            <a href="/projects"><div class="col-md-3 projects-page">
              PROJECTS &nbsp;&nbsp;&nbsp;<span class="exmarks">/</span>
            </div></a>
            <a href="/about"><div class="col-md-3 about-page">
              ABOUT
            </div></a>
        </div>
      </div>
    </div>
  </div>
</section>
