
  <div class="container" id="menu">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row menu">
          <center>
            <div class="col-md-3 home-page">
            <center> <a href="/index.html"> HOME</a> <span class="exmarks"> | </span>
            </div>
            <div class="col-md-3 stories-page">
            <center> <a href="/stories"> STORIES</a><span class="exmarks"> | </span>
            </div>
            <div class="col-md-3 projects-page">
            <center> <a href="/projects"> PROJECTS</a><span class="exmarks"> | </span>
            </div>
            <div class="col-md-3 about-page">
            <a href="/about">  ABOUT</a>
            </div>
        </div>
      </div>
    </div>
